#google{
   position: relative;
   left: 580px;
   top: 20px;
}
#searchbox{
   border-style: solid;
   border-width: 0px;
   width: 1200px;
   height: 64px;
   margin: auto;
   position: relative;
   top: 10px;
   background-color:gainsboro;
}
.prgrf{
   text-align: center;
}
#search{
   position: relative;
   left: 450px;
   top: -18px;
   width: 290px;
   height: 15px;
   display: inline;
  
}
.button{
   margin: 2px;
   position: relative;
   left: 490px;
   top: -24px;
}
#firstbox{
   border-style: solid;
   width: 420px;
   height: 80px;
   float: left;
   position: relative;
   left: 140px;
   top: 13px;
   border-width: 1px;
   background-color:aquamarine;
   border-color: aquamarine;
}
.connection{
   position: relative;
   top: -15px;
   text-align: center;
}
.connection1{
   position: relative;
   top: -30px;
   text-align: center;
}
#secondbox{
   border-style: solid;
   float: left;
   width: 250px;
   height: 80px;
   position: relative;
   left: 142px;
   top: 13px;
   border-width: 1px;
   background-color: aquamarine;
   border-color: aquamarine;
}
#secondbox p{
   text-align: center;
   position: relative;
   top: -10px;
   margin-bottom: -15px;
   font-size: 14px;
}
#thirdbox{
   border-style: solid;
   width: 520px;
   height: 80px;
   float: left;
   position: relative;
   left: 144px;
   top: 13px;
   border-width: 1px;
   border-color: aquamarine;
   background-color: aquamarine;
}
#thirdbox p{
   text-align: center;
   position: relative;
   top: -10px;
   font-size: 12px;
}
#thirdbox table{
   position: relative;
   left: 180px;
   top: -20px;
}
#abone{
   position: relative;
   left: 15px;
}
#arsiv{
   position: relative;
   left: 30px;
   bottom: 2px;
   font-size: 12px;
}
footer p{
   position: relative;
   top: 100px;
  right: 540px;
  font-size: 12px;
}